.about {
  .profile {
    text-align: center;
    margin-top: 3%;
  
    .selfie {
      display: block;
      width: 360px;
      margin: 0 auto;
      // border-radius: 100%;
    }
  
    .info {
      margin-top: 1.5%;
      margin-bottom: 2%;
  
      .title {
        font-size: 2.0rem;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        color: black;
      }
      .description {
        font-size: 0.9rem;
        color: #12294b;
      }
    }
  }

  &-icon {
    margin-left: 1.3rem;
    line-height: 2rem;
  }

  &-icon-text {
    margin-left: 0.8rem;
  }
}
