.about {
  .profile {
    text-align: center;
    margin-top: 3%;
  
    .selfie {
      display: block;
      width: 1000px;
      margin: 0 auto;
      // border-radius: 100%;
    }
  
    .info {
      margin-top: 1.5%;
      margin-bottom: 2%;
  
      .title {
        font-size: 3.0rem;
        font-weight: bold;
        font-family: Roboto, sans-serif;
        color: black;
        text-shadow: 0 1px 2px #3f3f3f;
      }
      .description {
        font-size: 0.9rem;
        color: #12294b;
      }
    }
  }

  &-icon {
    margin-left: 1.3rem;
    line-height: 2rem;
    color:#12294b;
  }

  &-icon-text {
    margin-left: 0.8rem;
    color:#12294b;
  }

  &-content {
    margin-top: 1rem;
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 6rem;
  }

  a:hover {
    text-decoration: underline;
    color: #2873ad;;
  }
}
