---
layout: base 
---

<div class="about">
  <div class="profile">
    <img class="selfie" alt="{{ site.author.name }}" src="{{ site.author.selfie }}" />
    <div class="info">
      <div class="title">{{ site.author.name }}</div>
      <div class="description">{{ site.author.desc }}</div>
    </div>
  </div>

  <div class="col-sm-12 pt-2">
    <ul class="timeline">
        {% for entry in timeline %}
        <li class="timeline-entry">
            <strong>{{ entry.time }}</strong> | {{ entry.position }}, {{ entry.org }}
            <p class="timeline-description">{{ entry.description }}</p>
        </li>
        {% endfor %}
    </ul>
</div>

  <div class="content">
    {{ content }}
    </br>
    <div class="col-sm-12 pt-2">
      <h1>Experience</h1>
      <ul class="timeline">
          <li class="timeline-entry">
              <strong>Summer 2021</strong> | Research Assistant
              Working on Neural Radiance Fields and scene understanding
              I had a impressive research experience under Prof. Yuxiong Wang's supervison
              <p class="timeline-description"></p>
          </li> 
      </ul>
    </div>
    
    </br>
    <div class="social-layer">
      <div class="social-icons">
        <ul>
          {% include icons.html %}
        </ul>
      </div>
    </div>
  </div>
</div>
