---
layout: default
---

<div class="about">
  <div class="profile">
    <img class="selfie" alt="{{ site.author.name | default: site.author }}" src="{{ site.author.selfie | default: site.github.owner_gravatar_url }}" />
    <div class="info">
      <div class="title">{{ site.author.name | default: site.author }}</div>
      <div class="description">{{ site.author.desc | default: site.description | default: site.github.project_tagline }}</div>
    </div>
  </div>

  <section class="content">
    {{ content }}
  </section>
  <div class="social-layer">
    <div class="social-icons">
      <ul>
        {% include icons.html %}
      </ul>
    </div>
  </div>
</div>
