---
layout: base 
---

<div class="about">
  <div class="profile">
    <img class="selfie" alt="{{ site.author.name }}" src="{{ site.author.selfie }}" />
    <div class="info">
      <div class="title">{{ site.author.name }}</div>
      <div class="description">{{ site.author.desc }}</div>
    </div>
  </div>

  <div class="content">
    {{ content }}
    </br>
    <div class="col-sm-12 pt-2">
      <h2>Experience</h2>
      <ul class="timeline">
          
          <li class="timeline-entry">
              <strong>Summer 2021</strong> | Research Assistant
              <p class="timeline-description"></p>
          </li>
          
      </ul>
    </div>
    </br>
    <div class="social-layer">
      <div class="social-icons">
        <ul>
          {% include icons.html %}
        </ul>
      </div>
    </div>
  </div>
</div>
