<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  {% include head.html %}

  <body>

    <header class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h1 class="nav-title">{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <nav>
          <ul>
            <li><a href="{{ '/' | prepend: site.baseurl }}">About</a></li>
            <li><a href="{{ '/portfolio' | prepend: site.baseurl }}">Portfolio</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name | default: site.author }}. <a href="https://github.com/kssim/about-portfolio/">A.P</a> theme by kssim.
      </span>
    </footer>
  </body>
</html>
